@font-face {
	font-family: 'Reddit Mono';
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Reddit_Mono/RedditMono-VariableFont_wght.ttf') format('truetype-variations');
}